.candidate-page-title {
  text-align: center;
  color: #007ad9;
  margin-bottom: 10px;
}

.candidate-list .candidate-datatable .candidate-id {
  width: 10%;
  text-align: center;
}
.candidate-list .candidate-datatable .candidate-updated-date {
  width: 30%;
  text-align: center;
}
.candidate-list .candidate-datatable .candidate-full-name {
  width: 40%;
  text-align: center;
}
.candidate-list .candidate-datatable .candidate-year-of-birth {
  width: 20%;
  text-align: center;
}
